.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px
}

.product-cart{
    background-color: #FF99004D;
}

.product-cart h3 {
    margin: 2rem 1.7rem;
}

.pagination{
    margin: 20px 0;
}

.pagination button{
    margin: 0 5px;
    padding: 12px;
    border: 2px solid gray;
}

.pagination button:hover{
    background-color: gray;
    color: white;
}

.pagination .selected {
    background-color: gray;
    color: white;
}

.select-field{
    padding: 10px 12px;
    border-radius: 5px;
    background-color: gray;
    color: white;
}
